# Ignore catalogs:
.vscode/

# Ignore system files:
*.DS_Store


# Ignore clasp configuration files:
.gitignore
.claspignore
.clasp.json

# Ignore specific files in src directory:
**/src/readme.html
**/src/license.html

# Ignore temporary files in any directory:
**/~*